.profile-container
{
	display: flex;
	flex-direction: column;
	border: solid;
	border-color: #fff;
	background-color: #fff;
	color: black !important;
	align-items: center;
}

.profile
{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.input-form
{
	border: solid
}


.friends
{
	display: flex;
	justify-content: center;
}

.general-profile
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.user-general
{
    background-color: cadetblue;
    display: flex;
    width: 100%;
    height: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.profile-general
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	gap: 2%;
	justify-content: space-around;
	flex: 1;
}

.profile-picture
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
	padding: 5%;
}

.general-change
{
	gap: 0;
}

.change
{
	display: flex;
	flex-direction: row;
	gap: 0.3rem;
}

.icon-change
{
	background-color: transparent;
	border: none;
	padding: 0;
	zoom: 150%;
}

.check-icon
{
	background-color: transparent;
	border: none;
	zoom: 150%;
	padding: 0;
}

.edit-icon
{
	zoom: 80%;
}

.settings-off
{
	display: none;
}

.settings-on
{
	display: inline-block;
}

.option-change
{
	position: relative;
	display: inline-block;
	height: 80%;
	padding: 0;
}

.button-settings
{
	position: relative;
}

.bouton-drop
{
	position: relative;
	top: 0%;
	right: 0%;
	background-color: transparent;
	border: none;
	padding: 0;
	zoom: 125%;

}

.bouton-drop::after {
    display: none !important;
}

.x-icon
{
	zoom: 150%;
}

.stats-friends {
	font-family: 'Courier New', Courier, monospace !important;
}

@media (max-width: 1200px), (max-height: 500px) {
	.user-general {
		flex-direction: column;
		overflow-y: scroll;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.col-friends-stats {
		bottom: 0% !important;
		min-height: none !important;
	}
}

.add-profile
{
	position: absolute;
	right:4px;
	top:4px;
}